@import "http://fonts.fontstorage.com/import/neris.css";
h1,
h2,
h3,
h4,
h5,
h6,
.h7,
.h8 {
	color: #FEFFFF;
	font-family: inherit;
	letter-spacing: 0.01em;
	line-height: 115%;
}

h1 {
	font-weight: 900;
	font-size: 19rem;
}

h2 {
	font-weight: 900;
	font-size: 10.4rem;
}

h3 {
	font-weight: 900;
	font-size: 6.6rem;
}

h4 {
	font-weight: 900;
	font-size: 5.2rem;
}

h5 {
	font-weight: 600;
	font-size: 4.8rem;
}

h6 {
	font-weight: 900;
	font-size: 3.6rem;
}
h6.h7 {
	font-weight: 900;
	font-size: 3.2rem;
}
h6.h8 {
	font-weight: 600;
	font-size: 2.8rem;
}

.body {
	letter-spacing: 0.01em;
}
.body.big {
	font-weight: 600;
	font-size: 2.6rem;
	line-height: 115%;
}
.body.biglight {
	font-weight: 300;
	font-size: 2.6rem;
	line-height: 150%;
}
.body.med {
	font-weight: 300;
	font-size: 2.4rem;
	line-height: 150%;
}
.body.medBolt {
	font-weight: 600;
	font-size: 2.2rem;
	line-height: 150%;
}
.body.small {
	font-weight: 300;
	font-size: 2rem;
	line-height: 150%;
}
.body.tiny {
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 150%;
}
.body.tinyBold {
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 150%;
}
.body.micro {
	font-weight: 300;
	font-size: 1.4rem;
	line-height: 150%;
}

a {
	font-family: inherit;
	font-size: 1.8rem;
	line-height: 1.5;
	font-weight: 300;
	color: #121616;
	letter-spacing: 0.01em;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
a:hover {
	color: #0071BB;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

a,
a:visited,
a:hover {
	display: block;
	text-decoration: none;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1;
	font-family: "Neris", sans-serif;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "Neris", sans-serif;
	border: none;
	background: none;
	outline: none;
}

button {
	cursor: pointer;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}

.btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	border: none;
	outline: none;
	width: 100%;
	font-weight: 600;
	font-size: 2rem;
	line-height: 1.3;
	color: #FEFFFF;
	padding: 1.45rem 2.5rem;
	border-radius: 3.2rem;
}
.btn.main {
	max-width: 30rem;
	background: -o-linear-gradient(2.05deg, #0071BC 0%, #00C0F3 100%);
	background: linear-gradient(87.95deg, #0071BC 0%, #00C0F3 100%);
}
.btn.main:hover {
	background: -o-linear-gradient(182.05deg, #0071BC 0%, #00C0F3 100%);
	background: linear-gradient(267.95deg, #0071BC 0%, #00C0F3 100%);
}
.btn.main:focus {
	background: #121616;
}
.btn.step {
	max-width: 30rem;
	background: #121616;
}
.btn.step:hover {
	background: -o-linear-gradient(2.05deg, #0071BC 0%, #00C0F3 100%);
	background: linear-gradient(87.95deg, #0071BC 0%, #00C0F3 100%);
}
.btn.step:focus {
	background: -o-linear-gradient(2.05deg, #0071BC 0%, #00C0F3 100%);
	background: linear-gradient(87.95deg, #0071BC 0%, #00C0F3 100%);
}
.btn.steps {
	padding: 24rem 2.5rem;
	max-width: 30rem;
	background: #0B273A;
}
.btn.steps:hover {
	-webkit-box-shadow: 0px 8px 12px rgba(11, 39, 58, 0.25);
	        box-shadow: 0px 8px 12px rgba(11, 39, 58, 0.25);
}
.btn.steps:focus {
	background: -o-linear-gradient(2.05deg, #0071BC 0%, #00C0F3 100%);
	background: linear-gradient(87.95deg, #0071BC 0%, #00C0F3 100%);
}
.btn.small {
	padding: 1.45rem 2.5rem;
	max-width: 17.6rem;
	background: -o-linear-gradient(2.05deg, #6AEA06 0%, #00C0F3 100%);
	background: linear-gradient(87.95deg, #6AEA06 0%, #00C0F3 100%);
}
.btn.small:hover {
	background: -o-linear-gradient(182.05deg, #0071BC 0%, #00C0F3 100%);
	background: linear-gradient(267.95deg, #0071BC 0%, #00C0F3 100%);
}
.btn.small:focus {
	background: #121616;
}
.btn.contact {
	padding: 15rem 2.5rem;
	max-width: 32rem;
	color: #121616;
	background: -o-linear-gradient(2.05deg, #6AEA06 0%, #00C0F3 100%);
	background: linear-gradient(87.95deg, #6AEA06 0%, #00C0F3 100%);
}
.btn.contact:hover {
	background: -o-linear-gradient(182.05deg, #0071BC 0%, #00C0F3 100%);
	background: linear-gradient(267.95deg, #0071BC 0%, #00C0F3 100%);
}
.btn.contact:focus {
	color: #FEFFFF;
	background: #121616;
}

body,
html {
	font-size: 10px;
}

body {
	color: #121616;
	background-color: #0B273A;
	font-family: "Neris", sans-serif;
	overflow-x: hidden;
}

.main-wrapper {
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: 100vh;
	overflow-y: scroll;
}
.main-wrapper .content-wrapper {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}

.container {
	max-width: 144rem;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	padding: 0 11.2rem;
}
@media only screen and (max-width: 1199.98px) {
	.container {
		padding: 0 8.4rem;
	}
}
@media only screen and (max-width: 991.98px) {
	.container {
		padding: 0 4rem;
	}
}

.container-header {
	max-width: 144rem;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	padding: 0 11.2rem;
}
@media only screen and (max-width: 1199.98px) {
	.container-header {
		padding: 0 8rem;
	}
}
@media only screen and (max-width: 991.98px) {
	.container-header {
		padding: 0 2.4rem;
	}
}

.header {
	width: 100%;
	padding: 2.4rem 0;
	background: #FEFFFF;
}
.header .navbar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 100%;
}
.header .navbar .logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	max-width: 12.8rem;
}
.header .navbar .logo img {
	width: 100%;
	height: 100%;
}
.header .navbar .burger-toggle {
	display: none;
}
.header .navbar .burger-toggle .line {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.header .navbar .burger-toggle .line:nth-of-type(2) {
	visibility: visible;
}
.header .navbar .burger-toggle svg {
	stroke: #0071BB;
}
.header .navbar .navbar-collapse {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.header .navbar .navbar-collapse .nav-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-left: auto;
	background: #FEFFFF;
}
.header .navbar .navbar-collapse .nav-menu .nav-link {
	color: #121616;
	font-weight: 600;
	font-size: 22px;
	line-height: 150%;
	letter-spacing: 0.01em;
	margin: 0 1rem;
	padding: 0 1rem;
	position: relative;
}
.header .navbar .navbar-collapse .nav-menu .nav-link:after {
	content: "";
	display: block;
	border-bottom: solid 2px #00ADEF;
	-webkit-transform: scaleX(0);
	    -ms-transform: scaleX(0);
	        transform: scaleX(0);
	-webkit-transform-origin: 100% 50%;
	    -ms-transform-origin: 100% 50%;
	        transform-origin: 100% 50%;
	-webkit-transition: -webkit-transform 0.6s ease;
	transition: -webkit-transform 0.6s ease;
	-o-transition: transform 0.6s ease;
	transition: transform 0.6s ease;
	transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}
.header .navbar .navbar-collapse .nav-menu .nav-link:hover:after {
	-webkit-transform: scaleX(1);
	    -ms-transform: scaleX(1);
	        transform: scaleX(1);
	-webkit-transform-origin: 0% 50%;
	    -ms-transform-origin: 0% 50%;
	        transform-origin: 0% 50%;
}
.header .navbar .navbar-collapse .nav-menu .nav-link.active {
	color: #0071BB;
}
.header .navbar.open .burger-toggle .line:nth-of-type(1) {
	-webkit-transform: translateX(17px) translateY(-9px) rotate(45deg);
	    -ms-transform: translateX(17px) translateY(-9px) rotate(45deg);
	        transform: translateX(17px) translateY(-9px) rotate(45deg);
}
.header .navbar.open .burger-toggle .line:nth-of-type(2) {
	-webkit-transform: translateX(30px);
	    -ms-transform: translateX(30px);
	        transform: translateX(30px);
	visibility: hidden;
}
.header .navbar.open .burger-toggle .line:nth-of-type(3) {
	-webkit-transform: translateY(15px) rotate(-45deg);
	    -ms-transform: translateY(15px) rotate(-45deg);
	        transform: translateY(15px) rotate(-45deg);
}
.header .navbar.open .navbar-collapse {
	visibility: visible;
	-webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
}
.header .navbar.open .navbar-collapse .overlay {
	visibility: visible;
	-webkit-transform: scaleX(1);
	    -ms-transform: scaleX(1);
	        transform: scaleX(1);
	-webkit-transform-origin: 0;
	    -ms-transform-origin: 0;
	        transform-origin: 0;
}
.header .overlay {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 23.3rem;
	width: 100vw;
	height: inherit;
	z-index: 10;
	background-color: rgba(255, 228, 196, 0.315);
	-webkit-transform: scaleX(0);
	    -ms-transform: scaleX(0);
	        transform: scaleX(0);
	-webkit-transform-origin: 0% 100%;
	    -ms-transform-origin: 0% 100%;
	        transform-origin: 0% 100%;
	-webkit-transition: -webkit-transform 0.6s ease;
	transition: -webkit-transform 0.6s ease;
	-o-transition: transform 0.6s ease;
	transition: transform 0.6s ease;
	transition: transform 0.6s ease, -webkit-transform 0.6s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

@media only screen and (max-width: 991.98px) {
	.header {
		padding: 2.2rem 0;
	}
	.header .container-header {
		padding: 0;
	}
	.header .navbar {
		padding: 0 2.4rem;
		position: relative;
	}
	.header .navbar .logo {
		max-width: 88rem;
	}
	.header .navbar .burger-toggle {
		display: block;
	}
	.header .navbar .navbar-collapse {
		visibility: hidden;
		display: block;
		position: absolute;
		top: 5.8rem;
		left: 0;
		background: #FEFFFF;
		height: calc(100vh - 8rem);
		padding: 2rem 5rem;
		-webkit-transform: translateX(-500px);
		    -ms-transform: translateX(-500px);
		        transform: translateX(-500px);
	}
	.header .navbar .navbar-collapse .nav-menu .nav-link {
		margin-bottom: 2rem;
	}
	.header .navbar .nav-menu {
		padding: 2rem 0;
	}
	.header .navbar .nav-menu .nav-link {
		margin: 0 0.5rem;
		padding: 0.5rem;
	}
}
@media only screen and (max-width: 767.98px) {
	.header {
		padding: 1rem 0;
	}
	.header .navbar {
		padding: 1.4rem;
	}
	.header .navbar .logo {
		max-width: 88rem;
	}
	.header .navbar .navbar-collapse {
		top: 7.2rem;
		height: calc(100vh - 8.4rem);
	}
	.header .navbar .navbar-collapse .nav-menu .nav-link {
		margin-bottom: 1.5rem;
	}
}
.footer {
	width: 100%;
	background: #FEFFFF;
}
.footer .wrapper {
	position: relative;
	padding: 4.8rem 0;
	background: url(/img/footer/ITHoot_Logo_footer.png) no-repeat center bottom;
}
.footer .wrapper .col-6 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.footer .wrapper .col-6:nth-of-type(1) {
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.footer .wrapper .col-6:nth-of-type(2) {
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}
.footer .wrapper .logo-wrapper {
	margin-bottom: 5rem;
}
.footer .wrapper .location .location-group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 0.5rem;
}
.footer .wrapper .location .location-group img {
	margin-right: 1rem;
}
.footer .wrapper .social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0 -1.6rem;
}
.footer .wrapper .social > div {
	margin: 0 0.8rem;
}
.footer .wrapper .rules p {
	font-size: 1.4rem;
	line-height: 1.5;
}
.footer .wrapper .rules p span {
	color: #00ADEF;
}