.projects-page {
	padding-top: 6.5rem;

	.container {
		h2 {
			margin-bottom: 1.6rem;
			color: $dark
		}

		p {
			color: $dark
		}
	}

	.cards-list {
		display: flex;
		flex-wrap: wrap;
		margin-top: 8.8rem;

		.card-item {
			width: 33.3%;
			padding: 2.15vw 2.15vw 3.4vw 2.6vw;
			position: relative;
			height: 40vw;

			&:hover {
				.card-prew {
					img {
						transform: scale(1.1);
					}
				}
			}

			&:nth-of-type(1) {
				background: #DADADA;

				.card-title {
					.logo {
						img {
							width: 2.55vw;
						}
					}
				}

				.card-prew {
					width: 23vw;
					bottom: 3.4vw;
					right: 0;
				}
			}

			&:nth-of-type(2) {
				background: #FFD029;

				.card-title {
					.logo {
						img {
							width: 10.65vw;
						}
					}
				}

				.card-prew {
					width: 17vw;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
				}
			}

			&:nth-of-type(3) {
				background: #8ACDF9;

				.card-title {
					.logo {
						img {
							width: 14.6vw;
						}
					}
				}

				.card-prew {
					width: 23vw;
					bottom: 3.4vw;
					right: 0;
				}
			}

			&:nth-of-type(4) {
				background: #212121;

				.card-title {
					.logo {
						img {
							width: 8.9vw;
						}

						p {
							color: $white;
						}
					}
				}

				.prew-wrapper {
					.card-prew {
						&:nth-of-type(1) {
							width: 23vw;
							bottom: 3.4vw;
							right: 0;
						}

						&:nth-of-type(2) {
							width: 10.2vw;
							bottom: 0;
							right: 10%;
						}
					}
				}
			}

			&:nth-of-type(5) {
				background: #66CE99;

				.card-title {
					.logo {
						img {
							width: 6.9vw;
						}

						p {
							color: $white;
						}
					}
				}

				.card-prew {
					width: 17vw;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
				}
			}

			&:nth-of-type(6) {
				background: #FFFFFF;

				.card-title {
					.logo {
						img {
							width: 5.1vw;
						}
					}
				}

				.card-prew {
					&:nth-of-type(1) {
						width: 23vw;
						bottom: 3.4vw;
						right: 0;
					}

					&:nth-of-type(2) {
						width: 10.2vw;
						bottom: 0;
						right: 10%;
					}
				}
			}

			&:nth-of-type(7) {
				background: #76A4CD;

				.card-title {
					.logo {
						img {
							width: 7.65vw;
						}

						p {
							color: $white;
						}
					}
				}

				.card-prew {
					width: 23vw;
					bottom: 3.4vw;
					right: 0;
				}
			}

			&:nth-of-type(8) {
				background: #772FE4;

				.card-title {
					.logo {
						img {
							width: 5.95vw;
						}

						p {
							color: $white;
						}
					}
				}

				.card-prew {
					width: 17vw;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
				}
			}

			&:nth-of-type(9) {
				background: #212121;

				.card-title {
					.logo {
						img {
							width: 5.3vw;
						}

						p {
							color: $white;
						}
					}
				}

				.card-prew {
					width: 23vw;
					bottom: 3.4vw;
					right: 0;
				}
			}

			.card-title {
				display: flex;
				align-items: flex-start;
				justify-content: space-between;

				.logo {
					margin-bottom: 1.1vw;

					p {
						font-size: 1.5vw;
						margin-top: .9vw;
						color: $dark;
					}
				}

				.country {
					margin-left: 1rem;

					img {
						width: 2.15vw;
					}
				}
			}

			.card-prew {
				transition: all .3s ease;
				position: absolute;
			}
		}
	}
}

@include respond(s-screen) {
	.projects-page {
		padding-top: 8.8rem;

		h2,
		p {
			text-align: center;
		}

		.cards-list {
			.card-item {
				width: 50%;
			}
		}
	}
}

@include respond(es-screen) {
	.projects-page {
		.cards-list {
			.card-item {
				width: 100%;
				height: 72.8rem;
				padding: 5.6rem 3.2rem 8rem 3.2rem;

				&:nth-of-type(1) {
					.card-prew {
						width: 100%;
						max-width: 40rem;
						bottom: 6.4rem;
						right: 0;
					}
				}

				&:nth-of-type(2) {
					.card-prew {
						padding: 0 1.5rem;
						width: 100%;
						max-width: 27rem;
					}
				}

				&:nth-of-type(3) {
					.card-title {
						.logo {
							img {
								width: 100%;
								max-width: 21rem;
							}
						}
					}

					.card-prew {
						width: 100%;
						max-width: 66rem;
						height: 100%;
						max-height: 408px;
						bottom: 8rem;
					}
				}

				&:nth-of-type(4) {
					.card-title {
						.logo {
							img {
								width: 100%;
								max-width: 15rem;
							}

							p {
								color: rgba($white, 0.6);
							}
						}
					}

					.prew-wrapper {
						.card-prew {
							&:nth-of-type(1) {
								width: 100%;
								max-width: 58rem;
								bottom: 8rem;
							}

							&:nth-of-type(2) {
								width: 100%;
								max-width: 17.6rem;
								right: 1.6rem;
							}
						}
					}
				}

				&:nth-of-type(5) {
					.card-title {
						.logo {
							img {
								width: 100%;
								max-width: 11.2rem;
							}

							p {
								color: rgba($white, 0.6);
							}
						}
					}

					.card-prew {
						width: 100%;
						max-width: 27.8rem;
						padding: 0 1.5rem;
					}
				}

				&:nth-of-type(6) {
					.card-title {
						.logo {
							img {
								width: 5.1vw;
							}
						}
					}

					.card-prew {
						&:nth-of-type(1) {
							width: 100%;
							max-width: 66rem;
							bottom: 6.4rem;
						}

						&:nth-of-type(2) {
							width: 100%;
							max-width: 17.6rem;
							right: 1.6rem;
						}
					}
				}

				&:nth-of-type(7) {
					.card-title {
						.logo {
							img {
								width: 100%;
								max-width: 14rem;
							}

							p {
								color: rgba($white, 0.6);
							}
						}
					}

					.card-prew {
						width: 100%;
						max-width: 58rem;
						bottom: 8rem;
					}
				}

				&:nth-of-type(8) {
					.card-title {
						.logo {
							img {
								width: 100%;
								max-width: 9.6rem;
							}

							p {
								color: rgba($white, 0.6);
							}
						}
					}

					.card-prew {
						padding: 0 1.5rem;
						width: 100%;
						max-width: 27.2rem;
					}
				}

				&:nth-of-type(9) {
					.card-title {
						.logo {
							img {
								width: 100%;
								max-width: 11.2rem;
							}

							p {
								color: rgba($white, 0.6);
							}
						}
					}

					.card-prew {
						width: 100%;
						max-width: 58rem;
						bottom: 8rem;
					}
				}

				.card-title {
					.logo {
						margin-bottom: 1.1vw;

						img {
							width: auto !important;
						}

						p {
							font-size: 1.6rem;
							margin-top: 2.5rem;
							color: rgba($dark, 0.6);
						}
					}

					.country {
						img {
							width: auto;
						}
					}
				}

				.card-prew {
					padding-left: 3.2rem;
				}
			}
		}
	}
}