// Mixins
@import "main-scss/mixins.scss";

// Resettings, General styles
@import "main-scss/variables.scss";
@import "main-scss/fonts.scss";
@import "main-scss/typography.scss";
@import "main-scss/null.scss";
@import "main-scss/btn.scss";


body,
html {
	font-size: 10px;
}

body {
	color: $dark;
	background-color: $dark-blue;
	font-family: $fontfamily;
	overflow-x: hidden;
}

.main-wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow-y: scroll;

	.content-wrapper {
		flex-grow: 1;
	}
}

// Main grid
.container {
	max-width: 144rem;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	padding: 0 11.2rem;

	@include respond(lg-screen) {
		padding: 0 8.4rem;
	}

	@include respond(m-screen) {
		padding: 0 4rem;
	}
}

.container-header {
	max-width: 144rem;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	padding: 0 11.2rem;

	@include respond(lg-screen) {
		padding: 0 8rem;
	}

	@include respond(m-screen) {
		padding: 0 2.4rem;
	}
}





// Connecting pages style
@import "main-scss/header.scss";
// @import "main-scss/footer.scss";
// @import "main-scss/form.scss";