// Mixins
@import "main-scss/mixins.scss";

// Resettings, General styles
@import "main-scss/variables.scss";
@import "main-scss/fonts.scss";
@import "main-scss/typography.scss";
@import "main-scss/null.scss";
@import "main-scss/btn.scss";


body,
html {
	font-size: 10px;
}

body {
	color: $dark;
	background-color: $white;
	font-family: $fontfamily;
	overflow-x: hidden;
}

.main-wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow-y: scroll;

	.content-wrapper {
		flex-grow: 1;
	}
}

// Main grid
.container {
	max-width: 125rem;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	padding: 0 1.5rem;

	@include respond(s-screen) {
		max-width: 64rem;
	}
}

.container-header {
	max-width: 125rem;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	padding: 0 1.5rem;

	@include respond(m-screen) {
		padding: 0 8rem;
	}

	@include respond(s-screen) {
		padding: 0 2.4rem;
	}
}

// Connecting pages style
@import "main-scss/header.scss";
@import "main-scss/footer.scss";
@import "main-scss/swiper.scss";
@import "main-scss/accordion.scss";
@import "main-scss/form.scss";
@import "main-scss/global.scss";

@import "main-page/prew-page.scss";
@import "main-page/statistics.scss";
@import "main-page/innovations.scss";
@import "main-page/solution.scss";
@import "main-page/tech-stack.scss";
@import "main-page/insights.scss";
@import "main-page/contact-block.scss";

@import "project-page/project-page.scss";

@import "about/about.scss";

@import "careers/careers.scss";
@import "careers/write-us.scss";

@import "blog/blog.scss";

@import "contact/contact.scss";

@import "mob-dev/mob-dev.scss";