.contact-block {
	background: -webkit-gradient(linear, left top, right top, color-stop(0.08%, #121716), color-stop(100.01%, #0C283A));
	background: -o-linear-gradient(left, #121716 0.08%, #0C283A 100.01%);
	background: linear-gradient(90deg, #121716 0.08%, #0C283A 100.01%);
	padding: 24.8rem 0;
}