.statistics {
	background: $dark-blue;
	padding: $L 0;

	.container {
		flex-direction: row;
		justify-content: space-between;

		.statistics-item {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			h6 {
				display: flex;
				align-items: center;
				margin-bottom: $XS2;

				img {
					width: 2.8rem;
					height: 2.8rem;
					margin-left: $XS2;
				}
			}

			p {
				text-align: center;
				margin: 0 $XS2;
			}
		}
	}

	&.gradient {
		.statistics-item {
			h6 {
				background: linear-gradient(87.95deg, #0071bc 0%, #00c0f3 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
			}
		}
	}
}

@include respond(m-screen) {
	.statistics {
		padding: $XL 0;

		.container {
			flex-wrap: wrap;

			.statistics-item {
				width: 50%;

				&:nth-of-type(1),
				&:nth-of-type(2) {
					margin-bottom: 5.6rem;
				}
			}
		}
	}
}

@include respond(s-screen) {
	.statistics {
		height: auto;
		padding: $L 0;

		.container {
			.statistics-item {
				width: 100%;
				margin-bottom: $L;

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
}
