.web-dev {
	padding: $XL 0 0;

	.preview {
		height: 60rem;
		position: relative;
		margin-bottom: $XL3;

		h1 {
			font-size: 14rem;
			color: $dark-blue;
			max-width: 60rem;
		}

		@media screen and (max-width:1150px) {
			min-height: auto;

			h1 {
				font-size: 11rem;
			}
		}

		img {
			position: absolute;
			transform: translateX(-50%);
			bottom: 0;
			height: 100%;
			width: 100%;

			&.iPad {
				left: 25%;
				z-index: 2;
				max-width: 27.4rem;
				max-height: 25.4rem;
			}

			&.iMac {
				left: 50%;
				z-index: 1;
				max-width: 48rem;
				max-height: 44rem;
			}

			&.macBook {
				left: 75%;
				z-index: 2;
				max-width: 45.9rem;
				max-height: 28rem;
			}
		}
	}

	.block-group {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: $XL3;

		h4 {
			background: linear-gradient(87.95deg, #0071BC 0%, #00C0F3 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		p {
			color: $dark;
		}

		>* {
			width: 49%;
		}
	}

	.aplications {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-bottom: $XL3;

		h4 {
			color: $dark-blue;
			margin-bottom: $L;
		}

		>div {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}

		.item {
			width: 49%;
			background: linear-gradient(87.95deg, #0071BC 0%, #00C0F3 100%);
			border-radius: $XS;
			display: flex;
			padding: $S $S $S 0;
			overflow: hidden;

			>img {
				transform: translateX(-3rem);
			}

			.item-body {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: space-between;

				>img {
					max-width: 100%;
				}
			}
		}
	}
}

@include respond(m-screen) {
	.web-dev {
		.preview {
			height: 42rem;
			margin-bottom: $XL2;

			h1 {
				font-size: 7.2rem;
				max-width: 40rem;
			}

			img {
				&.iPad {
					left: 30%;
					max-width: 22rem;
					max-height: 18rem;
				}

				&.iMac {
					max-width: 33.6rem;
					max-height: 32.1rem;
				}

				&.macBook {
					left: 65%;
					max-width: 28rem;
					max-height: 16.8rem;
				}
			}
		}

		.block-group {
			justify-content: center;
			margin-bottom: $XL3;
			flex-wrap: wrap;

			h4 {
				text-align: center;
				margin-bottom: $S;
			}

			>* {
				width: 100%;
			}
		}
	}
}

@include respond(s-screen) {
	.web-dev {
		.preview {
			height: auto;
			margin-bottom: $XL3;

			h1 {
				font-size: 6.4rem;
				max-width: unset;
				text-align: center;
			}

			img {
				display: none;
			}
		}
	}
}