.btn {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	border: none;
	outline: none;
	box-shadow: unset;
	width: 100%;
	line-height: 1;
	z-index: 1;
	position: relative;
	transition: all 0.3s ease;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transition: all 0.6s ease;
		opacity: 0;
		z-index: -1;
	}

	&:active,
	&:focus,
	&:hover {
		outline: none;
		box-shadow: unset;

		&:after {
			opacity: 1;
		}
	}

	&.primary {
		border-radius: $XS;
		padding: 1.5rem 1.75rem;
		background: linear-gradient(87.95deg, #6aea06 0%, #00c0f3 100%);
		font-weight: 900;

		&.big {
			max-width: 32rem;
			font-size: 2.6rem;
			color: $dark;

			&:hover {
				color: $dark;
			}

			&:active,
			&:focus {
				color: $white;

				&:after {
					background: $dark;
				}
			}
		}

		&.small {
			max-width: 17.6rem;
			font-size: 2rem;
			color: $white;

			&:hover {
				color: $white;
			}

			&:active,
			&:focus {
				color: $white;
			}
		}

		&:after {
			border-radius: $XS;
		}

		&:hover {
			&:after {
				background: linear-gradient(267.95deg, #0071bc 0%, #00c0f3 100%);
			}
		}

		&:active,
		&:focus {
			background: linear-gradient(267.95deg, #0071bc 0%, #00c0f3 100%);

			&:after {
				background: $dark;
			}
		}
	}

	&.secondary {
		max-width: 30rem;
		font-size: 2.2rem;
		background: linear-gradient(87.95deg, #0071bc 0%, #00c0f3 100%);
		border-radius: $XS;
		color: $white;
		font-weight: 900;
		padding: 1.7rem 1.75rem;

		&:after {
			border-radius: $XS;
		}

		&:hover {
			color: $white;

			&:after {
				background: linear-gradient(267.95deg, #0071bc 0%, #00c0f3 100%);
			}
		}

		&:active,
		&:focus {
			color: $white;
			background: linear-gradient(267.95deg, #0071bc 0%, #00c0f3 100%);

			&:after {
				background: $dark;
			}
		}
	}

	&.bordered {
		border: 3px solid $bright-blue;
		border-radius: $XS;
		padding: ($XS - 0.3rem) $XS $XS;
		font-size: 2.2rem;
		font-weight: 900;
		max-width: 28rem;
		color: $bright-blue;
		background: $white;

		&:hover {
			color: $white;
			background: $bright-blue;
		}

		&:active,
		&:focus {
			color: $white;
			background: $blue;
			border: 3px solid $blue;
		}
	}

	&.portfolio {
		border: 2px solid $white;
		border-radius: $S;
		padding: ($XS - 0.3rem) $XS $XS;
		font-size: 1.6rem;
		font-weight: 600;
		max-width: 12rem;
		color: $white;
		background: none;

		&:hover {
			color: $dark-blue;
		}

		&:active,
		&:focus {
			color: $dark-blue;
			background: $white;
			border: 2px solid $white;
		}
	}

	&.disable {
		background: #f6f6f6;
		color: #828282;

		&:hover,
		&:active,
		&:focus {
			background: #f6f6f6;
			color: #828282;
		}
	}

	&.services {
		max-width: 20rem;
		font-size: 2rem;
		font-weight: 600;
		color: $white;
		border-radius: $XS;
		background: $dark-blue;
		line-height: 1;
		flex-direction: row-reverse;
		transition: all 0.3s linear;
		padding: 1.5rem 1.75rem;
		overflow: hidden;

		&:after {
			background: linear-gradient(87.95deg, #0071bc 0%, #00c0f3 100%);
		}

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			right: 1rem;
			width: 2rem;
			height: 2rem;
			background: url(/assets/images/icons/services-arrow.svg) center/cover
				no-repeat;
			margin-left: auto;
			display: none;
			animation: fadeBtn 0.3s;
			animation-fill-mode: forwards;
			animation-timing-function: linear;
		}

		&:hover,
		&:active,
		&:focus {
			background: rgba($dark-blue, 0);

			&:before {
				display: inline-block;
			}
		}
	}
}

@keyframes fadeBtn {
	from {
		opacity: 0;
		background-size: 0% 0%;
		transform: translateY(-50%) translateX(-25px);
	}

	to {
		opacity: 1;
		background-size: 100% 100%;
		transform: translateY(-50%) translateX(0px);
	}
}
