.footer {
	width: 100%;
	background: $white;

	.wrapper {
		position: relative;
		padding: 4.8rem 0;
		background: url(/img/footer/ITHoot_Logo_footer.png)no-repeat center bottom;

		.col-12 {
			display: flex;
			flex-direction: column;

			&:nth-of-type(1) {
				align-items: flex-start;
			}

			&:nth-of-type(2) {
				align-items: flex-end;
				justify-content: space-between;
			}
		}

		.logo-wrapper {
			margin-bottom: 5rem;
		}

		.location {
			.location-group {
				display: flex;
				align-items: center;
				margin-bottom: .5rem;

				img {
					margin-right: 1rem;
				}
			}
		}

		.social {
			display: flex;
			align-items: center;
			margin: 0 -1.6rem;
			margin-bottom: 2.4rem;

			>div {
				margin: 0 .8rem;
			}
		}

		.rules {
			p {
				font-size: 1.4rem;
				line-height: 1.5;
				color: $dark;

				span {
					color: $bright-blue;
				}
			}
		}
	}
}

@include respond(s-screen) {
	.footer {
		.wrapper {
			flex-direction: column;
			background: none;

			.col-12 {
				align-items: center !important;

				&:nth-of-type(1) {
					margin-bottom: 11rem;
				}
			}

			.logo-wrapper {
				margin-bottom: 4rem;
			}

			.rules {
				p {
					font-size: 1.2rem;
					line-height: 1.5;
				}
			}
		}
	}
}