.footer {
	width: 100%;
	background: $white;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		background: linear-gradient(180deg, #DBDBDB 0%, #FEFFFF 6.87%);
	}

	.wrapper {
		position: relative;
		padding: $L 0;
		background: url(/img/footer/ITHoot_Logo_footer.png)no-repeat center bottom;
		display: flex;

		.col {
			width: 50%;
			display: flex;
			flex-direction: column;

			&:nth-of-type(1) {
				align-items: flex-start;
			}

			&:nth-of-type(2) {
				align-items: flex-end;
				justify-content: space-between;
			}
		}

		.logo-wrapper {
			margin-bottom: $L;
		}

		.location {
			.location-group {
				display: flex;
				align-items: center;
				margin-bottom: $XS2;

				img {
					margin-right: $XS2;
				}

				a {
					color: $dark;
				}
			}
		}

		.social {
			display: flex;
			align-items: center;
			margin: 0 (-$XS2);
			margin-bottom: $S;

			>a {
				margin: 0 $XS2;
			}
		}

		.rules {
			display: flex;
			align-items: center;

			span {
				color: $bright-blue;
				line-height: inherit;
				margin-right: $XS2;
			}

			p {
				color: $dark;
			}
		}
	}
}

@include respond(s-screen) {
	.footer {
		.wrapper {
			flex-direction: column;
			background: none;
			padding: $M 0;

			.col {
				width: 100%;

				&:nth-of-type(1) {
					margin-bottom: $XL2;
					align-items: center;
				}

				&:nth-of-type(2) {
					align-items: center;
				}
			}

			.logo-wrapper {
				margin-bottom: $M;
			}
		}
	}
}