.group {
	display: flex;
	flex-direction: column;
	margin-bottom: $M;

	label {
		font-family: 'Neris';
		font-weight: 600;
		font-size: 2.2rem;
		line-height: 1.3;
		color: $white;
		margin-bottom: $XS2;
	}

	input,
	textarea {
		font-family: 'Neris';
		font-size: 2.2rem;
		font-weight: 600;
		color: $dark-blue;
		padding: 1.25rem $XS;
		background: $white;
		border: 1px solid #f6f6f6;
		border-radius: $XS2;

		&::placeholder {
			color: $bright-blue;
		}
	}

	.invalid-feedback {
		font-size: 1.6rem;
		line-height: 1.2;
		font-weight: 500;
		color: #ff4e4e;
	}

	&.control {
		input {
			line-height: 1;
			border-radius: $XS2;
		}
	}

	&.textarea {
		textarea {
			line-height: 1.25;
			border: 1px solid #f6f6f6;
			border-radius: $XS2;
		}
	}

	&.required {
		> label {
			width: fit-content;
			position: relative;

			&:after {
				content: '*';
				position: absolute;
				top: 0;
				right: -1.5rem;
				color: #fb6161;
				font-size: inherit;
				line-height: inherit;
			}
		}
	}

	&.disabled {
		input {
			background: #f6f6f6;
		}
	}

	&.check {
		flex-direction: row;
		width: fit-content;
		position: relative;

		.checkbox {
			position: absolute;
			opacity: 0;
			width: 100%;
			visibility: hidden;
			width: 1.8rem;
			height: 1.8rem;
			cursor: pointer;
		}

		.checkbox + .form-label {
			display: inline-flex;
			align-items: flex-start;
			flex-direction: row;
			user-select: none;
			color: $white;
			font-weight: 300;
			font-size: 1.8rem;
			line-height: 1.3;
			margin-bottom: 0;
			transition: all 0.3s ease;

			&::before {
				content: '';
				display: inline-block;
				width: 1.8rem;
				min-width: 1.8rem;
				height: 1.8rem;
				flex-shrink: 0;
				flex-grow: 0;
				border: 2px solid $dark-blue;
				border-radius: 0.2rem;
				margin-right: $XS;
				margin-top: 0.4rem;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 0% 0%;
				background-color: $white;
				transition: all 0.3s ease;
			}

			&:hover {
				&::before {
					border-color: #00adef;
				}
			}
		}

		.checkbox:checked + .form-label::before {
			background-image: url(/assets/images/icons/check-white.svg);
			background-size: 75% 75%;
			border: 2px solid $dark;
			background-color: $dark-blue;
		}

		.checkbox:not(:disabled):not(:checked) + .form-label:hover::before {
			background-color: $white;
		}

		.checkbox:not(:disabled):active + .form-label:hover::before {
			background-color: inherit;
			border-color: #00adef;
		}

		.custom-checkbox:not(:disabled):active:focus + label::before {
			background-color: #b3d7ff;
			border-color: #b3d7ff;
		}

		.checkbox:disabled + .form-labell::before {
			background-color: #aeaeae;
			border: 2px solid #aeaeae;
		}
	}

	&.file {
		.output-group {
			display: flex;
			align-items: center;
			position: relative;

			label {
				display: flex;
				align-items: center;
				justify-content: center;
				background: $bright-blue;
				border-radius: 6px;
				color: $white;
				cursor: pointer;
				width: 100%;
				max-width: 12rem;
				padding: $XS2 1.6rem;
				margin-bottom: 0;
				font-weight: 400;
				font-size: 1.6rem;
				position: absolute;
				top: 50%;
				left: 0.8rem;
				transform: translateY(-50%);
			}

			input {
				opacity: 0;
				position: absolute;
				z-index: -1;
				padding: 0;
				top: 50%;
				left: 0.8rem;
				transform: translateY(-50%);
				width: 100%;
				max-width: 12rem;
			}

			.file-output {
				width: 100%;
				font-family: 'Neris';
				font-size: 2.2rem;
				font-weight: 600;
				color: $blue;
				padding: 1.25rem 1.6rem 1.25rem 13.5rem;
				background: $white;
				border: 1px solid #f6f6f6;
				border-radius: $XS2;
				height: 5.6rem;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

	&.file-transparent {
		.output-group {
			display: flex;
			align-items: center;
			position: relative;
			min-width: 24rem;
			height: 2.4rem;

			label {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				border-radius: $XS2;
				color: $white;
				cursor: pointer;
				width: fit-content;
				max-width: 24rem;
				margin-bottom: 0;
				font-weight: 400;
				font-size: 1.6rem;

				img {
					margin-right: 1rem;
				}
			}

			input {
				opacity: 0;
				position: absolute;
				z-index: -1;
				padding: 0;
				top: 50%;
				left: 0.8rem;
				transform: translateY(-50%);
			}

			// .file-output {
			// 	width: 100%;
			// 	font-family: 'Neris';
			// 	font-size: 1.8rem;
			// 	line-height: 1.3;
			// 	font-weight: 600;
			// 	color: $white;
			// 	white-space: nowrap;
			// 	overflow: hidden;
			// 	text-overflow: ellipsis;
			// 	width: 100%;
			// }
		}
	}
}

@include respond(s-screen) {
	.group {
		label {
			font-size: 1.6rem;
		}

		input,
		textarea {
			font-size: 1.55rem;
			padding: 1.25rem $XS;
		}
	}
}
