// Font
$fontfamily: 'Neris', sans-serif;

// Colors
$dark: #121616;
$dark-blue: #0b273a;
$white: #feffff;
$gray: #f3f6fb;
$blue: #0071bb;
$bright-blue: #00adef;

// Spacing
$XL4: 24.8rem;
$XL3: 12.8rem;
$XL2: 9.6rem;
$XL: 7.2rem;
$L: 5.6rem;
$M: 3.2rem;
$S: 2.4rem;
$XS: 1.6rem;
$XS2: 0.8rem;

// Header
$header-height: 11.4rem;
$header-height-m: 7.7rem;
$header-height-s: 6.1rem;
