// Font
$fontfamily: 'Neris', sans-serif;

// Colors
$dark: #121616;
$dark-blue: #0B273A;
$white: #FEFFFF;
$gray: #F3F6FB;
$blue: #0071BB;
$bright-blue: #00ADEF;

// Spacing
$XL4: 24.8rem;
$XL3: 12.8rem;
$XL2: 9.6rem;
$XL: 7.2rem;
$L: 5.6rem;
$M: 3.2rem;
$S: 2.4rem;
$XS: 1.6rem;
$XS2: .8rem;