.write-us {
	background: linear-gradient(90deg, #121716 0.08%, #0C283A 100.01%);
	padding: $XL3 0;
	width: 100%;

	h3 {
		margin-bottom: $M;
	}

	.form {
		display: flex;
		justify-content: space-between;
		margin-bottom: $XL;

		.form-col {
			width: 49%;

			.group.textarea textarea {
				height: 18.2rem;
				max-height: 18.2rem;
			}

			.group {
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}

	.btn {
		margin: 0 auto;
	}
}

@include respond(m-screen) {
	.write-us {
		padding: $XL2 0;

		h3 {
			margin-bottom: $M;
		}

		.form {
			flex-wrap: wrap;
			margin-bottom: $L;

			.form-col {
				width: 100%;

				.group {
					margin-bottom: $S  !important;
				}
			}
		}

		.btn {
			max-width: 27rem;
		}
	}
}

@include respond(s-screen) {
	.write-us {
		padding: $XL 0 $XL3;

		.form {
			flex-wrap: wrap;
			margin-bottom: $M;

			.form-col {
				.group {
					margin-bottom: $XS  !important;
				}
			}
		}

		.btn {
			max-width: 22rem;
		}
	}
}