.contact-block {
	background: linear-gradient(90deg, #121716 0.08%, #0C283A 100.01%);
	padding: $XL4 0;

	.container {
		display: flex;
		align-items: center;
		flex-direction: column;
		text-align: center;

		h4 {
			margin-bottom: $S;
		}

		p {
			max-width: 65.5rem;
			margin-bottom: $XL2;
		}
	}
}

@include respond(m-screen) {
	.contact-block {
		.container {
			h4 {
				margin-bottom: $S;
			}

			p {
				margin-bottom: $XL;
			}
		}
	}
}

@include respond(s-screen) {
	.contact-block {
		.container {
			h4 {
				margin-bottom: $XS;
			}

			p {
				margin-bottom: $M;
			}
		}
	}
}