.innovations {
	background-color: $dark-blue;
	height: 100vh;
	position: relative;
	min-height: 65rem;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: url(/assets/images/innovations-bg.png) center/contain repeat;
	}

	h3 {
		text-align: center;
		margin-bottom: $L;
	}

	.row-item {
		display: flex;
		justify-content: center;
		width: 100%;
		max-width: 48.8rem;
		background: $dark;
		border-radius: $S;
		padding: $S;
		margin-bottom: $M;
		text-align: center;
		position: relative;
	}

	.row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.col-12 {
		width: 100%;
		display: flex;

		&:nth-of-type(even) {
			justify-content: flex-end;
		}

		&:nth-of-type(odd) {
			justify-content: flex-start;
		}

		&:nth-of-type(3) {
			max-width: 58rem;
		}

		&:nth-of-type(4) {
			max-width: 58rem;
		}

		&:nth-of-type(5) {
			max-width: 55rem;
		}

		&:nth-of-type(6) {
			max-width: 55rem;
		}

		&:nth-of-type(7) {
			max-width: 52rem;
		}

		&:nth-of-type(8) {
			max-width: 52rem;
		}

		&:nth-of-type(9) {
			width: 100%;

			>div {
				margin: 0 auto;
			}
		}
	}
}

@include respond(m-screen) {
	.innovations {
		height: auto;
		padding: $XL 0 $L;

		.col-12 {
			max-width: 100% !important;

			.row-item {
				margin: 0 auto;
				margin-bottom: $M;
			}
		}
	}
}

@include respond(s-screen) {
	.innovations {
		.row-item {
			margin: 0 auto;
			margin-bottom: $M;
		}
	}
}

@media (min-width: 992px) {
	.innovations {
		.col-lg-6 {
			width: 50%;
		}
	}
}