.insights {
	padding: $XL3 0;

	h3 {
		margin-bottom: $L ;
		color: $dark;
		text-align: center;
	}

	.card-wrapper {
		display: flex;
		justify-content: space-between;
		overflow-y: auto;
		padding: $XS 0;
		margin: 0 (-$XS);
	}
}

@include respond(s-screen) {
	.insights {
		.card-wrapper {
			flex-direction: column;
			margin: 0;
			padding: 0;
			overflow-y: none;

			.card {
				min-width: unset;
				width: 100%;
				margin: 0;
				margin-bottom: $S;
			}
		}
	}
}