.solution {
	height: 100vh;
	min-height: 95rem;
	overflow: hidden;

	.container {
		position: relative;

		&:before {
			content: "";
			position: absolute;
			bottom: -1rem;
			right: -12rem;
			transform: translateY(50%);
			width: 100%;
			max-width: 89.6rem;
			max-height: 47.4rem;
			height: 100%;
			background: url(/assets/images/icons/solition-bg.svg) center/contain no-repeat;
			z-index: -1;
		}
	}

	.section-title {
		margin-bottom: $L;

		h3 {
			color: $dark;
			text-align: center;
		}
	}

	.solution-tabs {
		.nav-tabs {
			display: flex;
			margin: 0 -$XS;
			border-bottom: none;
			margin-bottom: $XL2;

			.nav-link {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				max-width: 28rem;
				background: $dark-blue;
				border-radius: $M;
				padding: $S $M;
				margin: 0 $XS $S;
				border: none;
				isolation: auto;
				position: relative;
				cursor: pointer;
				transition: all .3s;

				&:hover {
					box-shadow: 0px 8px 12px rgba(11, 39, 58, 0.25);
				}

				&:before {
					content: '';
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: -5.7rem;
					width: 8.2rem;
					height: 0.2rem;
					background-color: $bright-blue;
					z-index: 2;
					border-radius: $M;
				}

				&:after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					width: 100%;
					height: 100%;
					background: linear-gradient(87.95deg, #0071BC 0%, #00C0F3 100%);
					z-index: 1;
					border-radius: 3.1rem;
					transition: all .3s;
					opacity: 0;
				}

				&:last-of-type {
					&:before {
						content: none;
					}
				}

				&.active {
					&:after {
						opacity: 1;
					}

					.pip {
						&:before {
							content: url(/assets/images/icons/pip-wihite.svg);
						}
					}
				}

				p {
					position: relative;
					text-align: center;
					z-index: 2;
				}

				span {
					position: absolute;
					bottom: -2rem;
					left: -.5rem;
					font-weight: 900;
					font-size: 4.8rem;
					line-height: 1.5;
					color: $white;
					opacity: 0.2;
					z-index: 2;
				}

				.pip {
					position: absolute;
					top: 50%;
					right: 1.6rem;
					width: 1.6rem;
					height: 1.6rem;
					transform: translateY(-50%);
					transition: all .3s ease;
					z-index: 2;

					&:before {
						content: url(/assets/images/icons/pip.svg);
						width: inherit;
						height: inherit;
					}

					&.left {
						left: 1.6rem;
						right: auto;
					}
				}
			}
		}

		.tab-content {
			.tab-pane {
				display: none;
				justify-content: space-between;
				animation: fadeEffect 0.6s ease;

				&.active {
					display: flex;
				}

				.img-wrapper {
					width: 59.2rem;
					height: 39.2rem;
					background: #3EC6FF;
					border-radius: $XS;
					margin-right: $S;

					img {
						width: 100%;
						height: 100%;
					}
				}

				h5 {
					color: $blue;
					padding-bottom: $M;
					margin-bottom: $S;
					position: relative;

					&:before {
						content: '';
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						height: 1px;
						background-color: $blue;
					}
				}

				li {
					margin-bottom: $XS;
					padding-left: calc($XS + $XS2);
					position: relative;

					&:last-of-type {
						margin-bottom: 0;
					}

					&::before {
						content: '';
						position: absolute;
						top: 50%;
						left: 0;
						transform: translateY(-50%);
						background-color: $bright-blue;
						width: .8rem;
						height: .8rem;
						border-radius: 50%;
					}
				}
			}
		}
	}
}

@include respond(m-screen) {
	.solution {
		padding: $XL2 0 $XL2;
		height: auto;

		.container {
			&:before {
				content: none;
			}
		}

		.section-title {
			margin-bottom: $L;
		}

		.solution-tabs {
			.nav-tabs {
				flex-wrap: wrap;
				margin: 0;
				justify-content: center;
				margin-bottom: $M ;

				.nav-link {
					max-width: unset;
					width: calc(50% - $M);

					&:before {
						content: none;
					}

					.pip {
						display: none;
					}
				}
			}

			.tab-content {
				.tab-pane {
					flex-direction: column;
					width: 100%;
					max-width: 59.2rem;
					margin: 0 auto;

					.img-wrapper {
						width: 100%;
						margin-bottom: $M;
						margin-right: 0;
					}
				}
			}
		}
	}
}

@include respond(s-screen) {
	.solution {
		padding: $XL 0 $XL;

		.section-title {
			margin-bottom: $L;
		}

		.solution-tabs {
			.nav-tabs {
				margin-bottom: $XS;

				.nav-link {
					width: 100%;
					margin: 0 0 $XS;
				}
			}

			.tab-content {
				.tab-pane {
					.img-wrapper {
						width: 100%;
						margin-bottom: $L;
						height: 31.2rem;
					}

					h5 {
						padding-bottom: $S;
					}

					li {
						margin-bottom: $XS2;
					}
				}
			}
		}
	}
}