.tech-stack {
	// background: url(/img/tech-stack/dots-bg.svg)no-repeat left/contain;
	background-color: $dark-blue;
	padding: 6.4rem 0;

	h3 {
		margin-bottom: 6.4rem;
		text-align: center;
	}

	.stack-block {
		.block-title {
			margin-bottom: 5rem;

			.h7 {
				display: flex;
				align-items: flex-end;
				color: $bright-blue;

				&::after {
					content: '';
					position: relative;
					height: .1rem;
					background: $blue;
					flex-grow: 1;
					margin: .0 .0 .8rem 1rem;
				}
			}
		}

		.item-list {
			display: flex;
			flex-wrap: wrap;

			.item {
				width: 25%;
				min-width: 20rem;
				margin-bottom: 7.4rem;
				cursor: default;

				p {
					color: #8D8D8D;
					transition: all .6s ease;
				}

				img {
					margin-right: 1.5rem;
					filter: grayscale(1);
					transition: all .6s ease;
				}

				>div {
					display: flex;
					align-items: center;
					width: fit-content;

					&:hover {
						p {
							color: $white;
						}

						img {
							filter: grayscale(0);
						}
					}
				}
			}
		}
	}
}

@include respond(m-screen) {
	.tech-stack {
		.stack-block {
			.item-list {
				margin-left: 5rem;

				.item {
					width: 50%;
					min-width: initial;
				}
			}
		}
	}
}

@include respond(s-screen) {
	.tech-stack {
		padding: 8.8rem 0;

		.stack-block {
			.block-title {
				margin-bottom: 4rem;

				.h7 {
					&::after {
						content: none;
					}
				}
			}

			.item-list {
				margin-left: 0;

				.item {
					p {
						color: $white;
						transition: none;
					}

					img {
						filter: grayscale(0);
						transition: none;
					}
				}
			}
		}
	}
}